@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-container {
    width: 100%;
    /* overflow: hidden; Hide overflow */

}

.scroll-content {
    display: inline-flex; /* Horizontal layout */
    gap: 0px;
    animation: scroll 50s linear infinite; /* Infinite scroll animation */
}

.item {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    width: 300px; /* Fixed width for each item */
    height: 400px; /* Fixed height for each item */
    margin-right: 20px; /* Spacing between items */
    background-color: #333; /* Dark background for items */
    color: #fff; /* White text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px; /* Rounded corners */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  */
}

@keyframes scroll {
    0% {
        transform: translateX(0); /* Start from the beginning */
    }
    100% {
        transform: translateX(-50%); /* Move halfway (duplicate content) */
    }
}